

#team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.team-heading h3{
    color: wheat;
    font-size: 3rem;
    text-transform: lowercase;
}

.team-box{
    width: 80%;
    padding: 20px 5px;
    user-select: none;
    
}

.t-b-img{
    width: 120%;
    height: 200px;   /* change height of box*/    
    position: relative;
}

.t-b-img::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 150px;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
}
.t-b-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
    filter: grayscale(1);
    
    
}
.t-b-text{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    left: 20px;
}

.t-b-text strong{
    color: beige;
    font-weight: 700;
    font-size: 1.2rem;
    
}

.t-b-text span{
    color: #fff;
    font-size: 0.9rem;
}

.team-social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.team-social a{
    margin: 0px 5px;
    color: #fff;
    font-size: 1.1rem;
    transition: all ease 0.3s;
}

.team-social a:hover{
    color: #5c1414;
}

.swiper{
    max-width: 745px;
    width: 100%;
    padding-bottom: 50px;
}
.swiper-slide{
    width: 300px !important;
    opacity: 0.2;
    margin: 50px 0px;
    margin-top: 0px;
}

.swiper-slide-active{
    opacity: 1;
    border: 10px solid rgb(91, 19, 19);
    
}

@media(max-width:724px){
    .team-heading h3{
        font-size: 2.6rem;
    }
}











*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand{
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation{
    position: relative;
    
}
header .navigation img{
    width: 105px;
    height: 105px;
    cursor: pointer;
    position: relative;
    right: 530px;
    top: -15px;
    
} 

header .navigation .navigation-items a{
    position: relative;
    top: -80px;
    left: 90px;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: 0.9s ease;
}

header .navigation .navigation-items a:hover:before{
    width: 100%;

}

section{
    padding: 100px 200px;
}


.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #c77a7a;
}

.home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(134, 74, 70, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.home .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active{
    display: block;
}

.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p{
    margin-bottom: 20px;
    position: relative;
    top: -40px;
}

.home .content a{
    background: #fff;
    padding: 10px 30px;
    color: #c77a7a;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 15px;
    position: relative;
    top: -30px;
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
    color: #fff;
    font-size: 1.6em; 
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255,255,255,0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
    transform: scale(1.2);
}

.slider-navigation .nav-btn.active{
    background: #2696E9;
}

.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

.about h2{
    font-size: 0.8em;
    color: #6a6868;
    font-style: normal;
    text-align: center;
}

.about h1{
    font-size: 3em;
    color: #6a6868;
    font-style: normal;
    text-align: center;
}


.bg-video-list {
    position: fixed; /* Fix the position of the video */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Put the video behind other content */
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire area of the parent */
	opacity: 1.5;
}

